

body {
    background-color: maroon;
}

h2 {
    color: honeydew;
}
.card {
    background-color: white;
    width: 60rem;
}
.card-title {
    text-align: center;
}

.container {
    padding-top: 5%;
}

.contact-box {
    padding-top: 5%;
    color: gray;
    text-align: center;
    align-items: center;
}

.row {
    padding-bottom: 50px;
}

