.navbar-color {
    background-color: #5f009a;

}

.navbar-brand {
    color: #b5c6e0;
}

.nav-link {
    color: #b5c6e0;
}

body {
    background-color: #b5c6e0;
}

h2 {
    color: honeydew;
}
.card {
    background-color: #ebf4f5;
    width: 90%;
}
.card-title {
    text-align: center;
    color: #5f009a;
}
.card-text {
    text-align: center;
}
.card-subtitle {
    text-align: center;
}

.container {
    padding-top: 5%;
}

.contact-box {
    padding-top: 5%;
    color: gray;
    text-align: center;
    align-items: center;
}

.row {
    padding-bottom: 50px;
}
